[submodule "themes/cyberscape"]
	path = themes/cyberscape
	url = https://github.com/isaksolheim/cyberscape
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
