{{ define "main" }}

<main class="w-full h-full bg-white border-4 border-blue-800 border-dotted p-4">
  <section>
    <div class="right margin">
      <img src="/dedeo_icon.gif" alt="me" />
      <p><a href="">Deryck2000</a></p>
    </div>
    <h1 class="text-xl font-bold">デデオチャンの創作置き場</h1>
    <p class="my-4">
デデオチャンが創作を置くところ！まだ準備中だよ！
      <span
        class="bg-[url('/images/water.webp')] text-black font-bold p-4 block"
        >ほげほげ
      </span>
    </p>
  </section>

  <section>
    <p>
      ほげほげ
    </p>
  </section>
</main>

{{ end }}
